<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irissonghy.myfirstapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.irissonghy.myfirstapplication.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.FavoritesActivity"
            android:label="@string/title_activity_favorites" >
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.LookUpRecipeActivity"
            android:label="@string/title_activity_look_up_recipe" >
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.RecipeDetailActivity"
            android:label="@string/title_activity_recipe_detail" >
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.PantryPopupActivity"
            android:label="@string/title_activity_pantry_popup" >
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.AddRecipeActivity"
            android:label="@string/title_activity_add_recipe" >
        </activity>
        <activity
            android:name="com.irissonghy.myfirstapplication.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
    </application>

</manifest>
